p{
  font-size: 1.2em;
}

.main_header{
  background-image:url("../img/pc_header.svg");
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  height: 500px
}

.about_css{
  margin-top:25px;
}
.border{
  border-bottom-style: ridge;
}
